body {
    background-color: coral;
}

.main-container {
    display: flex;
}

.top-card {
    display: flex;
    width: 300px;
    height: 220px;
    border: 1px solid black;
    margin: 30px;
    background-color: antiquewhite;
}

.lower-card {
        display: flex;
        width: 300px;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
        background-color: lightskyblue;
}

#map {
    display:flex
}

h1 {
 
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
}

.upper-Buttons {
 align-content: center;

}

.lower-header{
    display: flex;
    justify-content: space-between;
}

.location-title {
    display: flex;
}
