body {
    background-color: coral;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.cards {
    display: flex;
    flex-direction: column;
}

.top-card {
    display: flex;
    width: 300px;
    height: 220px;
    border: 1px solid black;
    margin: 30px;
}

.lower-card {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 150px;
        border: 1px solid black;
        margin: 30px;
}


#map {
    display:flex
}
